[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
joblib = "*"
flask = "*"
pymongo = "*"
python-dotenv = "*"
aws-lambda-powertools = "*"
mangum = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.0"

[scripts]
start = "python main.py"
